<section class="comments">
    <div>
        <table class="table table-dark">

            <thead class="table">
                <th>Comentario</th>
                <th>Capitulo</th>
                <th>Valoracion</th>
                <th>Acciones</th>

            </thead>
            <tbody>

                <tr *ngFor="let comment of comments; index as i">
                    <td>{{comment.comentario}}</td>
                    <td>{{comment.capitulo}}</td>
                    <td>{{comment.valoracion}}</td>

                    <td>
                        <app-actions [(editMode)] = "editMode" [form] = "form" [comments] ="comments" [id_comentario] = "comment.id_comentario" ></app-actions>

                    </td>
                   
                </tr>

            </tbody>

        </table>
        <div>
            <div *ngIf="comments.length == 0">Se la primera persona en comentar!!! </div>

        </div>

    </div>

    <div>
        <h4>Dejar un comentario acerca de un capitulo</h4>
   <form #form="ngForm" (ngSubmit) ="insertComment(form.value)"   >
    
    <input class="form-control" type="text" placeholder="comentario" name="comentario"  ngModel>

    <input class="form-control" type="text" placeholder="capitulo" name="capitulo" ngModel>
    <select class="form-control"  name="" id="" name = "valoracion" ngModel>
        <option value="" selected disabled>Valoracion</option>
        <option value="Buena">Buena</option>
        <option value="Mala">Mala</option>
</select>
  
        <input class="btn btn-success" type="submit" value="{{editMode ? 'Update Product' : 'Add Product'}}">
   </form>

    </div>
</section>