<h1>Lista de Electrodomesticos</h1>
<table class="table">
    <thead>
        <tr>
         <th>Imagen</th>
         <th>Nombre</th>
         <th>Precio</th>
         <th>Stock</th>
         <th>Compra</th>
        </tr>
    </thead>
   <tbody>
    <tr *ngFor="let appliance of appliances" [ngClass]="{'clearence': appliance.clearence}">
        <td><img width="90" class="thumbnail" [src]="appliance.image" [alt]="appliance.name"></td>
        <td>{{appliance.name}}</td>
        <td>{{appliance.price}}</td>
        <td><span class="badge text-bg-danger" *ngIf="appliance.stock == 0">SIN STOCK</span>
          </td>

        <td>
             <app-input-integer  [quantity]="appliance.quantity" [max]="appliance.stock" *ngIf="appliance.stock"></app-input-integer>
             <span  class="badge text-bg-info"  *ngIf="appliance.stock > 0"> MAX: {{appliance.stock}}</span> 
        </td>
       
    </tr>
   </tbody>
</table>
