<!DOCTYPE html>
<html>
  <head>
    <title>Card Effect</title>
  </head>
  <body>
    <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
    <div class="all">
      <div class="container">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <i class="fab fa-windows"></i>
              <h3>Sobre mi</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>
                My name is Lautaro, i have eighteen years. I'm finishing my
                first year of university. Until now, i have learned the basics
                of : JavaScript , HTML , Css , Java, PHP & MySql, Node.js and
                Angular.
              </p>
              <a
                href="https://www.instagram.com/lautaro_scuffi"
                target="_blank"
                type="button"
                >IG</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="face face1">
            <div class="content">
              <i class="fab fa-android"></i>
              <h3>Contacto</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>Mail: scuffilautaro@gmail.com</p>
              <p><a href="https://github.com/Lautaroscu">GitHub</a></p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="face face1">
            <div class="content">
              <i class="fab fa-apple"></i>
              <h3>God</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>Keep calm, listen Eladio Carrion</p>
              <a
                class="eladio"
                href="https://youtu.be/EhSYhPZlG-s"
                target="_blank"
                rel="noopener noreferrer"
                >Be happy</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
