<section class="seasons">
  <div class="seasonDescrip">
    <h2>Breaking Bad</h2>
    <p><span>2008| 16+ | 5 temporadas | Thrillers de TV</span></p>
    <p>
      Un profesor de Química de secundaria con cáncer terminal se asocia a un
      exestudiante para asegurar el futuro de su familia al fabricar y vender
      metanfetamina.
    </p>
    <p><span>Protagonistas:</span> Bryan Cranston,Aaron Paul,Anna Gunn</p>
    <p><span>Creado por: </span> Vince Gilligan</p>
    <div>
      <table class="table table-dark">
        <thead>
          <th>Temporadas</th>
          <th>Descripcion</th>
          <th>Fecha de Estreno</th>
          <th>Numero de Temporada</th>
        </thead>

        <tbody>
          <tr *ngFor="let season of seasons; index as i">
            <td>{{ season.titulo_temp }}</td>
            <td>{{ season.descripcion }}</td>
            <td>{{ season.fecha_estreno }}</td>
            <td>{{ i + 1 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
