.row{
    display: flex; 
    margin-top: 5%;
}
.brakingbadimg img {
    height: 150px;
    background-color: rgb(76, 69, 69);
    padding-left: 9%;
    background: none;
}
.seasonDescrip span {
    color: #a3a3a3;

}
section{
    margin-left: 25%;
}