
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/chapters']">Capitulos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/comments']">Comentarios</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" >About</a>
        </li>
       <li class="nav-item">
        </li> 
       
      </ul>
    </div>
  </div>
</nav>
<div class="container"> 
    <div class="row"> 
      <div class="col-8"><router-outlet></router-outlet></div>
    </div>
 
</div>