<!-- <h4>Dejar un comentario acerca de un capitulo</h4>
   <form #form="ngForm" (ngSubmit) ="insertComment(form.value)"   >
    
    <input class="form-control" type="text" placeholder="comentario" name="comentario"  ngModel>

    <input class="form-control" type="text" placeholder="capitulo" name="capitulo" ngModel>
    <select class="form-control"  name="" id="" name = "valoracion" ngModel>
        <option value="" selected disabled>Valoracion</option>
        <option value="Buena">Buena</option>
        <option value="Mala">Mala</option>
</select>
  
        <input class="btn btn-success" type="submit" value="add comment">
   </form> -->
