
.row {
    display: grid;
    grid-template-columns: repeat(4, 38%);


}


.card {
    margin: 7% 5% 5% 7%;
    width: 14rem;
    height: 20rem;
    background-color: black;
}
img{
    height: 10rem;
    width: 15rem;
}

